<h1>Hello From Rails</h1>
<% if @name == nil %> 
	<% form_tag :method => "create" do %>
	<p>User Name:<%= text_field 'user', 'name' %></p>
	<%= submit_tag "Say Hello!"%>
	<% end %>
<% else %>
	Hello, <%= render @name %>!
<% end %>
<p> <%= @time %> </p>
